* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS 1p", sans-serif;
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  color: #3b3b44;
  /* background-color: lightgreen; */
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo {
  font-weight: 400;
  margin-left: 10px;
}

.logo-container {
  flex: 1;
  align-items: center;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}
.cart {
  flex: 1;
  justify-content: flex-end;
}

.subtitle,
.comment {
  margin: 2rem 0px 0px;
}

.item-lists {
  margin-left: 40px;
}

.shot img {
  width: 800px;
}

.comment::before {
  content: "◆";
}

.backlink {
  margin: 50px;
}

@media (max-width: 1079px){
  .shot img {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .container {
    font-size: 1em;
    width: 90%;
    margin: auto;
    /* background-color: lightyellow; */
  }
  .shot img {
    width: 100%;
  }
}
